<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921289581443-sr2vnm7mgggdrev5msb4hi0k57o8gqhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921289581443-sr2vnm7mgggdrev5msb4hi0k57o8gqhi</string>
	<key>API_KEY</key>
	<string>AIzaSyACsFYdsBTxLIVWGlV7TsoFXkkz77l0mfk</string>
	<key>GCM_SENDER_ID</key>
	<string>921289581443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>tup-cofrecito</string>
	<key>STORAGE_BUCKET</key>
	<string>tup-cofrecito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921289581443:ios:e016513fd2490cbc5d4cb6</string>
</dict>
</plist>